:root {
    --background-color: #CEC98D;
    --textarea-background-color: #EEE8AA;
    --font-size: 16px;
    --impact-gray: #444444;
    --impact-light-gray: #606263;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

.body {
    overflow-y: hidden;
}

.topbar {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
}

@media only screen and (max-width: 991px) {

    /* This rule applies only to screens smaller than 992px */
    .toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
}

.nav-button-chatgpt {
    display: flex !important;
    align-items: center;
    margin-right: 60px;
}

.nav-button-chatgpt img {
    margin-right: 5px;
    /* add some spacing between the image and text */
}

.editor {
    margin-right: 0;
    transition: all 0.3s ease-out;
    background-color: var(--textarea-background-color);
}

.nav-button {
    float: right !important;
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}

.hidden {
    display: none !important;
}

.dark-mode-editor {
    background-color: #121212 !important;
    color: #ece5e5cc;
}

.dark-mode-topbar {
    background-color: #1e1e1e !important;
}

.dark-mode-toolbar {
    filter: invert(1) !important;
}

.dark-mode-navbar {
    filter: invert(1) !important;
}

.dark-mode-svg {
    fill: white;
}

.ql-toolbar.ql-snow {
    border: 0px !important;
}

.ql-container.ql-snow {
    border: 0px !important;
}

.ql-editor {
    font-size: var(--font-size);
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
    color: #444 !important;
    height: 100% !important;
}

.ql-snow .ql-tooltip {
    background-color: var(--background-color) !important;
    border: 0px solid var(--background-color) !important;
    box-shadow: 0px 0px 5px var(--background-color) !important;
}

.ql-snow .ql-tooltip input[type=text] {
    background-color: var(--textarea-background-color) !important;
    border: none !important;
}

.dark-mode-editor .ql-tooltip {
    background-color: #1e1e1e !important;
    box-shadow: 0px 0px 5px #1e1e1e !important;
    color: #ece5e599 !important;
}

.dark-mode-editor .ql-tooltip input[type=text] {
    background-color: #121212 !important;
    color: #ece5e599;
    border: none !important;
}

.dark-mode-editor .ql-editor.ql-blank::before {
    color: #ece5e599 !important;
}

.svg {
    color: #444 !important;
    height: 100% !important;
}

input[type="file"] {
    display: none;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--impact-white);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: var(--impact-white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--impact-light-gray);
    border-radius: 10px;
}

#sidebar {
    position: fixed;
    top: 45px;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    transition: all 0.3s ease-out;
    overflow-y: scroll;
}

.sidebar-open #sidebar {
    right: 0;
}

.sidebar-open #editor {
    margin-right: 400px !important;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        transition: all 0.3s ease-out;
    }

    .sidebar-open #sidebar {
        left: 0;
        top: 45px;
        display: block;
    }

    .sidebar-open #editor {
        margin-left: -300px;
    }
}

#chatgpt-sidebar .chatgpt-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
}

#chatgpt-sidebar .chatgpt-token {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.chatgpt-explain {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chatgpt-explain-list {
    justify-content: flex-start !important;
}

.chatgpt-explain-list span {
    font-size: 12px !important;
}

.chatgpt-explain span {
    font-weight: 400;
    font-size: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.chatgpt-access-token-explain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: blue;
}

.token {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.chatgpt-ready-content {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #343541;
    color: #fff;
}

.chatgpt-textarea-container {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: #40414f;
    color: #fff;
    padding: 15px;
}

.chatgpt-textarea-container {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: #40414f;
    color: #fff;
    padding: 15px;
}

.chatgpt-textarea-input {
    min-width: -webkit-fill-available;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-color: #40414f;
    color: #fff;
}

.prompt {
    text-align: left;
    background-color: #343541;
    padding: 15px;
    border-radius: 5px;
}

.chatgpt-response {
    text-align: left;
    background-color: #444654;
    padding: 15px;
    border-radius: 5px;
}

.chatgpt-error {
    text-align: left;
    background-color: #444654;
    padding: 15px;
    border-radius: 5px;
    color: rgb(239, 162, 162);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.chatgpt-response-loading p::after {
    content: "";
    width: 5px;
    height: 20px;
    background: #fff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.chatgpt-authfailed {
    display: none;
    color: red;
}

.popup {
    position: absolute;
    background-color: #CEC98D;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    border-radius: 10px;
    cursor: pointer;
}

.dark-mode-popup {
    background-color: #1e1e1e !important;
    color: white !important;
    border: 0px !important;
}

.dark-mode-popup a {
    background-color: #1e1e1e !important;
    color: white !important;
    border: 0px !important;
    text-decoration: none !important;
}
