.body {
    overflow-y: hidden;
}

.header {
    background-color: #CEC98D;
    padding-left: 8px;
    text-align: left;
    top: 0;
    width: auto;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
}

.header-button {
    background-color: #c9e9719a;
    border: black;
    cursor: pointer;
    margin-right: 2vw;
    min-width: 8%;
    margin-top: 7px;
    outline: none;
    margin-bottom: 7px;
    padding: 7px;
    transition: .6s;
    border-radius: 5px;
}

.header-button:hover {
    box-shadow: 3px 1px 5px rgb(76, 77, 75);
    transform: scale(1.09);
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.clock {
    display: inline;
    float: right;
    position: absolute;
    right: 20px;
    margin-top: 12px;
}

.form {
    overflow-x: hidden;
}

.textarea {
    background-color: #EEE8AA;
    border: 0px;
    outline: none;
    margin: 0px 0px 0px 0px;
    resize: none;
}

.color-button-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.color-button-row {
    display: flex;
    flex-direction: row;
    float: left;
    margin-top: 25px;
}

.color-button {
    height: 20px;
    width: 20px;
    border: 1px;
    border-radius: 50%;
    margin: 1px;
}

.color-button::-moz-focus-inner {
    border: 1;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CEC98D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px;
}

.show {
    display: block;
}

.font-increasor {
    margin-top: 10px;
}

.dark-mode-header {
    background-color: #1e1e1e !important;
    color: white;
}

.dark-mode-textarea {
    background-color: #121212 !important;
    color: white;
}

.dark-mode-header-button {
    background-color: #5b5f7c !important;
    color: white;
}

.dark-mode-a {
    color: white;
}

.dark-mode-a:visited {
    color: white;
}

.dark-mode-dropdown-content {
    background-color: #1e1e1e !important;
}

@media all and (max-width: 782px) {
    .clock {
        display: none;
    }
}

.extra {
    float: right;
    padding-top: 25px;
}

#text::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#text::-webkit-scrollbar {
    width: 15px;
    background-color: #f1f1f1;
}

#text::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

body,
html {
    padding: 0px;
    margin: 0px;
}

input[type="file"] {
    display: none;
}